
  @font-face{
        font-family:'uwr';
        src: url('font/DS-DIGIT.TTF');
    }
    body{
        
      font-family: 'Jura', sans-serif;
    }
   
   .Nav{
        width:80%;
        height: 37px;
        background-color: #000;
        margin:0 auto;
        border-radius: 2px;
        position: relative;
      
    }

 
 #logo{width:90px;
 height:65px;
  user-drag: none; 
user-select: none;
-moz-user-select: none;
-webkit-user-drag: none;
-webkit-user-select: none;
-ms-user-select: none;
float: left;
position: relative;
margin-left: 41%;
}



#data{
    margin:0 auto;
    text-align:center;
    margin-top:20px;
}
#data img{
    margin-top:5px;
    margin-bottom:20px;
}

.container1{
    width:80%;
    height:400px;
    margin: 0 auto;
    position: relative;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    
}
.navprof{
    width:100%;
    height: 51px;
    margin: 0 auto;
    margin-top: 50px;
}

.contnav{
    width:33.1%; height: 30px; 
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    color: black;
    padding-top:10px;
    text-align: center; 
   border:1px solid #ccc; 
    float: left;
    position: relative;
  margin-bottom: 50px;

}

.cont{ width: 100%;
height: 400px;
 border:1px solid #ccc; 
margin: 0 auto;
}

.contdetails{
    margin: 0 auto;
    text-align: center;
   line-height: 35px;
   
}

button
{
width:100px;
height:30px;
border-radius:2px;
font-size:14px;
padding-left:5px;
border:none;
display: block;
margin: 0 auto;
font-family: 'Jura', sans-serif;
float:left;color:black;
background-color:#ccc;
}

.inputfile {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}
.inputfile + label {
    font-size: 14px;
    font-weight: 700;
    color: white;
    background-color: black;
    display: inline-block;
    padding:8px;
}

.inputfile:focus + label,
.inputfile + label:hover {
    background-color: gray;
}
.inputfile + label {
	cursor: pointer; /* "hand" cursor */
}
.inputfile:focus + label {
	outline: 1px dotted #000;
	outline: -webkit-focus-ring-color auto 5px;
}

.inputfile + label * {
	pointer-events: none;
}

    .fileup{
        margin:0 auto;
        width:200px;
    }

span{
    background-color: #373737;
    width: 10%;
    padding: 5px;
    margin-bottom: 20px;
    color: antiquewhite;
    margin-right: 5px;
    
}

.Redstatus, .Redstatusimg{color:red;
margin:0 auto;font-weight:bold;}

.Greenstatus, .Greenstatusimg{color:green;
margin:0 auto;font-weight:bold;}



#veribtn, #logoutbtn, #cropbtn,#abtbtn, #bckbtn{
  background-color: #373737;
 padding: 10px;
  margin: 0 auto;
  color: antiquewhite;
}


#logoutbtn{
    position:relative ;
    float:left;
    margin-left:0;
}

 #abtbtn{
     float:right;
     margin-right:0;}




.veriimg{
     margin: 0 auto
}

   .veri{
       font-size: 12px;
       text-align: center;
       margin-top: 10px;
   } 
   

   #verified{
      height: 150px;
      width: 150px;
      margin-top: 10px;
  }
  a{text-decoration: none;}
  
  
  @media only screen and (min-width:700px) and (max-width:1080px)
{
.contnav{
    width:33%; 
}


.container1{
    width:95%;
    font-size:14px;
    height: 400px;
 
}
.contdetails{
   line-height: 40px;
   
}

.Nav{
        width:95%;    
    }
    .cont{
        height: 400px;
    }


}
    @media only screen and (min-width:315px) and (max-width:765px)
{
.contnav{
    width:32.5%; 
    font-size: 12px;
}


.container1{
    width:95%;
    font-size:12px;
    height: 500px;
 
}
.contdetails{
   line-height: 30px;
   
}

.Nav{
        width:95%;    
    }
    .cont{
        height: 400px;
    }


}

@media only screen and (min-width:100px) and (max-width:315px)
{
.contnav{
    width:32%; 
    font-size: 10px;
}


.container1{
    width:95%;
    font-size:12px;
    height: 500px;
 
}
.contdetails{
   line-height: 30px;
   
}

.Nav{
        width:95%;    
    }
    .cont{
        height: 400px;
    }




}

@media only screen and (min-width:100px) and (max-width:310px)
{
.contnav{
    width:31%; 
    font-size: 12px;
}
.container1{
    width:95%;
    font-size:12px;
    height: 500px;
 
}
.contdetails{
   line-height: 30px;
   
}

.Nav{
        width:95%;    
    }
    .cont{
        height: 400px;
    }
    
     #verified{
      height: 100px;
      width: 100px;
  }

}
